*{
	margin:0;
	padding:0;
}

html,body{
	width:100%;
	height:auto;
}

.outer-wrapper{
	margin:auto;
	max-width:1000px;
}

#login-form{
	max-width:400px;
}
#login-form .input-group, #login-form input[type="submit"]{
	margin:10px 0;
}
#login-form input[type="submit"]{
	float:right;
}