*{
	margin:0;
	padding:0;
}

html,body{
	width:100%;
	height:auto;
}

.outer-wrapper{
	margin:auto;
	max-width:1000px;
}

#login-form, #register-form{
	max-width:400px;
}
#login-form .input-group, #login-form input[type="submit"], #register-form .input-group, #register-form input[type="submit"]{
	margin:10px 0;
}
#login-form input[type="submit"], #register-form input[type="submit"]{
	float:right;
}

.display-gallerys > div{
	margin-bottom:30px;
}

.dropdown-add-gallery{
	padding:5px 7px;
}

.dropdown-add-gallery input[type="text"]{
	min-width:200px;
}