.galleryHolder {
	position:fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index:9999 !important;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	background: rgba(0,0,0,0.7);
	display:none;
}
.galleryHolder > img {
	position:relative;
	margin:5vh auto;
	max-height: 90vh;
	max-width: 90vw;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.image-holder {
	position:relative;
	-webkit-align-items: center;
	align-items: center;
	opacity: .6;
	transition:opacity .5s ease;
}
.image-holder img{
	width: 100%;
	height: auto;
	
}
.image-holder:hover{
	opacity: 1;
}
.image-holder:hover .deleteImage {
	opacity: 1;
}

.deleteImage {
	position:absolute;
	top:0;
	right:0;
	color: #f00;
	font-size: 1.5em;
	z-index:10;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s ease;
}