*{
	margin:0;
	padding:0;
}

html,body{
	width:100%;
	height:auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.outer-wrapper{
	margin:auto;
	max-width:1000px;
}

#login-form, #register-form{
	max-width:400px;
}
#login-form .input-group, #login-form input[type="submit"], #register-form .input-group, #register-form input[type="submit"]{
	margin:10px 0;
}
#login-form input[type="submit"], #register-form input[type="submit"]{
	float:right;
}

.display-gallerys > div{
	margin-bottom:30px;
}
.image-holder{
	width:100%;
	height:250px;
	overflow:hidden;
	/*center image inside*/
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* // */
}
.image-holder img{
	max-height:100%;
	opacity: .7;
	transition:opacity .5s easy;
}
.image-holder img:hover{
	opacity: 1;
}

.dropdown-add-gallery{
	padding:5px 7px;
}

.dropdown-add-gallery input[type="text"]{
	min-width:200px;
}

.add-gallery{
	cursor:pointer;
}

@-webkit-keyframes spin{
	from{-webkit-transform:scale(1) rotate(0deg);}
	to{-webkit-transform:scale(1) rotate(360deg);}
}
@keyframes spin{
	from{transform:scale(1) rotate(0deg);}
	to{transform:scale(1) rotate(360deg);}
}
.glyphicon-loading{
	-webkit-animation:spin .7s infinite linear;
	animation:spin .7s infinite linear;
}

.img-upload-button{
	width:100%;
	margin-top:10px;
}
.img-upload-button .glyphicon{
	font-size:1.5em;
}
.img-upload-group{
	width:100%;
}

.outer-wrapper-gallery{
	padding:0 5%;
}